altair
asttokens
attrs
beautifulsoup4
blinker
cachetools
certifi
charset-normalizer
click
colorama
comm
contourpy
cycler
dash
dash-core-components
dash-html-components
dash-table
debugpy
decorator
entrypoints
executing
Faker
favicon
Flask
fonttools
gitdb
GitPython
graphviz
htbuilder
idna
importlib_metadata
ipykernel
ipython
itsdangerous
jedi
Jinja2
jsonschema
jsonschema-specifications
jupyter_client
jupyter_core
kiwisolver
lxml
Markdown
markdown-it-py
markdownlit
MarkupSafe
matplotlib
matplotlib-inline
mdurl
more-itertools
nest-asyncio
numpy
packaging
pandas
parso
pillow
pip
platformdirs
plotly
prometheus_client
prompt_toolkit
protobuf
psutil
pure-eval
pyarrow
pydeck
Pygments
pymdown-extensions
pyparsing
python-dateutil
pytz
pywin32
PyYAML
pyzmq
referencing
requests
retrying
rich
rpds-py
scipy
setuptools
six
smmap
soupsieve
st-annotated-text
st-theme
stack-data
streamlit
streamlit-camera-input-live
streamlit-card
streamlit-embedcode
streamlit-extras
streamlit-faker
streamlit-image-coordinates
streamlit-keyup
streamlit-option-menu
streamlit-toggle-switch
streamlit-vertical-slider
tenacity
toml
toolz
tornado
traitlets
typing_extensions
tzdata
urllib3
validators
watchdog
wcwidth
Werkzeug
zipp